button {
    display: block !important;
}

._homey-header {
    margin-top: var(--homey-su-4);
    margin-bottom: 0px !important;
    border-top: 1px solid var(--homey-color-line);
}

.rTable {
    display: table;
    width: calc(100% - 2px);
    height: 100%;
} 
/* .tabs {
    height: 40px !important;
    border-bottom: 1px solid rgb(220,220,220);
} */
/* .rTableRow {   	
    display: table-row; 
    margin: 0;
    border-bottom: 1px solid rgb(220,220,220);
    border-left: 1px solid rgb(220,220,220);
    border-right: 1px solid rgb(220,220,220);      
}  */


.tab {
    display: table-cell;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    width: 25%;
    height: 100%;
    border-bottom: 2px solid #5194f9;
}

.tab-active {
    color: rgb(0, 0, 0);
    /*background-color: rgb(239, 239 , 243);*/
    border-bottom: 2px solid #5194f9;
}

.tab-inactive {
    color: rgb(0, 0, 0);
    /*background-color: rgb(255, 255, 255);*/
    border-bottom: 2px solid white;
    font-weight: normal;
}

.scrollable-text {
    overflow-y: auto;
    max-width: calc(100vw - 160px);
    white-space: nowrap;
}

.settings-item-last {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: right;
    color: rgb(199,199,203);
    padding-right: 10px;
    font-size: 17px;
}

.rTableRow {   	
    display: table-row; 
    margin: 0;
    border-bottom: 1px solid rgb(220,220,220);
    border-left: 1px solid rgb(220,220,220);
    border-right: 1px solid rgb(220,220,220);      
} 


.rTableCell {   	
    display: table-cell;   	
    padding: 6px;
    vertical-align: middle;
    white-space: nowrap;
}


.form-switch {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.line{
    border-bottom: 1px solid rgb(220,220,220);
}

#progress {
    width: 0%;
    height: 200px;
    background: #95c5ff;
    display: block;
    margin: 0;
    position: absolute;
    padding: 0;
    top: -10px;
    left: 0;
    z-index: -1;
}

#log {
    padding: 10px;
}